{% extends 'base.html' %}
{% load static %}

{% block cssblock %}
    <link href="{% static 'img/favicon.ico' %}" rel="icon">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">  
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="{% static 'lib/animate/animate.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row px-xl-5">
            
            <form class="col-lg-3 col-md-4" method="GET">
                
                <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Filter by price</span></h5>
                <div class="bg-light p-4 mb-30">
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                        <input type="checkbox" class="custom-control-input filter-check" id="price-1" name="price" value="0-100" {% if "0-100" in selected_prices %}checked{% endif %}>
                        <label class="custom-control-label" for="price-1">$0 - $100</label>
                    </div>
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                        <input type="checkbox" class="custom-control-input filter-check" id="price-2" name="price" value="100-200" {% if "100-200" in selected_prices %}checked{% endif %}>
                        <label class="custom-control-label" for="price-2">$100 - $200</label>
                    </div>
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                        <input type="checkbox" class="custom-control-input filter-check" id="price-3" name="price" value="200-300" {% if "200-300" in selected_prices %}checked{% endif %}>
                        <label class="custom-control-label" for="price-3">$200 - $300</label>
                    </div>
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                        <input type="checkbox" class="custom-control-input filter-check" id="price-4" name="price" value="300-400" {% if "300-400" in selected_prices %}checked{% endif %}>
                        <label class="custom-control-label" for="price-4">$300 - $400</label>
                    </div>
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between">
                        <input type="checkbox" class="custom-control-input filter-check" id="price-5" name="price" value="400-500" {% if "400-500" in selected_prices %}checked{% endif %}>
                        <label class="custom-control-label" for="price-5">$400 - $500</label>
                    </div>
                </div>
                <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Filter by color</span></h5>
                <div class="bg-light p-4 mb-30">
                    {% for color in all_colors %}
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                        <input type="checkbox" class="custom-control-input filter-check" id="color-{{ forloop.counter }}" name="color" value="{{ color }}" {% if color in selected_colors %}checked{% endif %}>
                        <label class="custom-control-label" for="color-{{ forloop.counter }}">{{ color }}</label>
                    </div>
                    {% endfor %}
                </div>
                <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Filter by size</span></h5>
                <div class="bg-light p-4 mb-30">
                    {% for size in all_sizes %}
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                        <input type="checkbox" class="custom-control-input filter-check" id="size-{{ forloop.counter }}" name="size" value="{{ size }}" {% if size in selected_sizes %}checked{% endif %}>
                        <label class="custom-control-label" for="size-{{ forloop.counter }}">{{ size }}</label>
                    </div>
                    {% endfor %}
                </div>
                </form>
            <div class="col-lg-9 col-md-8">
                <div class="row pb-3">
                    <div class="col-12 pb-1">
                        </div>
                    
                    {% for sp in sanpham %}
                    <div class="col-lg-4 col-md-6 col-sm-6 pb-1">
                        <div class="product-item bg-light mb-4">
                            <div class="product-img position-relative overflow-hidden">
                                <img class="img-fluid w-100" src="{{ sp.anh_dai_dien.url }}" alt="">
                                <div class="product-action">
                                    <a class="btn btn-outline-dark btn-square" href="{% url 'chitietsanpham' sp.id %}"><i class="fa fa-shopping-cart"></i></a>
                                    <a class="btn btn-outline-dark btn-square" href="{% url 'chitietsanpham' sp.id %}"><i class="fa fa-search"></i></a>
                                </div>
                            </div>
                            <div class="text-center py-4">
                                <a class="h6 text-decoration-none text-truncate" href="">{{ sp.ten_san_pham }}</a>
                                <div class="d-flex align-items-center justify-content-center mt-2">
                                    <h5>{{ sp.giakm }}</h5><h6 class="text-muted ml-2"><del>{{ sp.gia }}</del></h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    
                    <div class="col-12">
                        {% if sanpham.has_other_pages %}
                        <nav>
                          <ul class="pagination justify-content-center">
                            
                            {% with '' as query_string %}
                                {% if query %}{% with query_string|add:"&timkiem="|add:query as query_string %}{% endwith %}{% endif %}
                                {% for p in selected_prices %}{% with query_string|add:"&price="|add:p as query_string %}{% endwith %}{% endfor %}
                                {% for c in selected_colors %}{% with query_string|add:"&color="|add:c as query_string %}{% endwith %}{% endfor %}
                                {% for s in selected_sizes %}{% with query_string|add:"&size="|add:s as query_string %}{% endwith %}{% endfor %}
                            {% endwith %}

                            {% if sanpham.has_previous %}
                              <li class="page-item">
                                <a class="page-link" href="?page={{ sanpham.previous_page_number }}{{ query_string }}">Previous</a>
                              </li>
                            {% else %}
                              <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
                            {% endif %}
                            
                            {% for i in sanpham.paginator.page_range %}
                              {% if sanpham.number == i %}
                                <li class="page-item active"><a class="page-link" href="#">{{ i }}</a></li>
                              {% else %}
                                <li class="page-item"><a class="page-link" href="?page={{ i }}{{ query_string }}">{{ i }}</a></li>
                              {% endif %}
                            {% endfor %}
                            
                            {% if sanpham.has_next %}
                              <li class="page-item">
                                <a class="page-link" href="?page={{ sanpham.next_page_number }}{{ query_string }}">Next</a>
                              </li>
                            {% else %}
                              <li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
                            {% endif %}

                          </ul>
                        </nav>
                        {% endif %}
                    </div>
                    </div>
            </div>
            </div>
    </div>
    {% endblock %}

{% block jsblock %}
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'lib/easing/easing.min.js' %}"></script>
    <script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>
    <script src="{% static 'mail/jqBootstrapValidation.min.js' %}"></script>
    <script src="{% static 'mail/contact.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>

    <script>
        $(document).ready(function() {
            // Gán sự kiện 'change' cho tất cả checkbox có class 'filter-check'
            $('.filter-check').on('change', function() {
                // Khi có thay đổi, submit form cha gần nhất
                $(this).closest('form').submit();
            });
        });
    </script>
    {% endblock %}